<div>
  <h3>Add new task:</h3>
  <div>
    <input type="text" [(ngModel)]="newTitle" placeholder="Enter new task title">
    <input type="text" [(ngModel)]="newContent" placeholder="Enter new task description">
    <input (click)="_presenter.addItem(newTitle, newContent)" type="button" value="Add task">
  </div>

  <div *ngFor="let x of _presenter.Items; let index = index;">

    <div>

      <div>{{x.title}}</div>
      <div>{{x.content}}</div>
      <div>status: {{x.completed}}</div>
      <input (click)="_presenter.removeItem(x.id)" type="button"
             value="Delete" class="col-2 btn btn-danger">
      <input (click)="_presenter.setCompleted(x.id, true)" type="button"
             value="Set completed" class="col-2 btn btn-danger">
    </div>
  </div>
</div>
